<ng-include src="'/view/templates/header.html'"></ng-include>
<div class="w3-container w3-light-grey" style="padding:40px 6px" id="contact">
    <div class="center">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-danger-message">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p><strong>{{resp.message}}</strong></p>
          </div>
        </div>
      </div>

      <h3 class="w3-center">Education Details</h3>
      <p class="w3-center w3-large">Please enter the education details:</p>
      <form ng-submit="storeEdu()" name="eduDetailsForm">
        <div class="container">

          <label><b>College</b></label>
          <input type="text" placeholder="College" required name="college" ng-model="formData.college">
          <span ng-show="eduDetailsForm.college.$touched && eduDetailsForm.college.$invalid">The College is required.</span>

          <label><b>Course Name</b></label>
          <input type="text" placeholder="Course Name" name="course_name" ng-model="formData.course_name">
          <span ng-show="eduDetailsForm.course_name.$touched && eduDetailsForm.course_name.$invalid">The Course Name is required.</span>

          <label><b>Start Date</b></label>
          <input type="date" placeholder="Start Date" name="start_date" ng-model="formData.start_date">
          <span ng-show="eduDetailsForm.start_date.$touched && eduDetailsForm.start_date.$invalid">The Start Date is required.</span>

          <label><b>End Date</b></label>
          <input type="date" placeholder="End Date" required name="end_date" ng-model="formData.end_date">
          <span ng-show="eduDetailsForm.end_date.$touched && eduDetailsForm.end_date.$invalid">The End Date is required.</span>

          <label><b>Grade/percentage</b></label>
          <input type="number" placeholder="Grade" required name="grade" ng-model="formData.grade" min="0">
          <span ng-show="eduDetailsForm.grade.$touched && eduDetailsForm.grade.$invalid">The Street address is required.</span>

          <button type="submit" onclick="document.getElementById('id01').style.display='block'">Next</button>
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
    </div>
</div>
<ng-include src="'/view/templates/footer.html'"></ng-include>
