<ng-include src="'/view/templates/header.html'"></ng-include>
<div class="w3-container w3-light-grey" style="padding:40px 6px" id="contact">
    <div class="center">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-danger-message">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p><strong>{{resp.message}}</strong></p>
          </div>
        </div>
      </div>

      <h3 class="w3-center">Other Details</h3>
      <p class="w3-center w3-large">Please enter the contact details:</p>
      <form ng-submit="storeOther()" name="otherDetailsForm">
        <div class="container">

          <label><b>Work Type</b></label>
          <select required name="work_type" ng-model="formData.work_type" multiple>
            <option value="">-Select Work Type-</option>
            <option value="web_application">Web Application</option>
            <option value="mobile_application">Mobile Application</option>
            <option value="win_application">Windows Application</option>
            <option value="desktop_application">Desktop Application</option>
            <option value="db_admin">Database Administrator</option>
            <option value="front_end">Front End</option>
          </select>
          <label><b>Skills</b></label>
          <select required name="skills" ng-model="formData.skills" multiple>
            <option value="">-Select Skills-</option>
            <option value="php">PHP</option>
            <option value="jsp">JSP</option>
            <option value="asp">ASP</option>
            <option value="python">Python</option>
            <option value="javascript">Javascript</option>
            <option value="angularjs">AngularJS</option>
            <option value="angularjs">Angular2</option>
            <option value="reactjs">ReactJS</option>
            <option value="mysql">MySQL</option>
            <option value="mongodb">MongoDB</option>
            <option value="ms_sql">Microsoft SQL</option>
            <option value="webservices">Webservices</option>
            <option value="rest">REST</option>
            <option value="soap">SOAP</option>
            <option value="java">JAVA</option>
            <option value="dotnet">.NET</option>
            <option value="c#">C#</option>
            <option value="vbscript">VBScript</option>
            <option value="jquery">jQuery</option>
            <option value="c">C</option>
            <option value="c++">C++</option>
            <option value="objectivec">Objective C</option>
            <option value="swift">Swift</option>
            <option value="android">Android</option>
            <option value="ios">IOS</option>
            <option value="cobol">COBOL</option>
            <option value="forton">FORTON</option>
            <option value="meanjs">MEANJS</option>
          </select>

          <label><b>Rate/Hour</b></label>
          <input type="number" placeholder="Rate" name="rate" ng-model="formData.rate">
          <span ng-show="otherDetailsForm.rate.$touched && otherDetailsForm.rate.$invalid">The Rate is required.</span>

          <button type="submit" onclick="document.getElementById('id01').style.display='block'">Submit</button>
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
    </div>
</div>
<ng-include src="'/view/templates/footer.html'"></ng-include>
    