<!DOCTYPE html>
<html ng-app="angulardemo-dashboard">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <base href="/">
    <!-- Core CSS - Include with every page -->
    <link href="/public/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/public/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet" />
    <link href="/public/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="/public/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <%- include('partials/header.ejs') %>
        <%- include('partials/sidebar.ejs') %>
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/public/plugins/jquery-1.10.2.js"></script>
    <script src="/public/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/public/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/plugins/pace/pace.js"></script>
    <!--<script src="/public/scripts/siminta.js"></script>-->
    <!-- Page-Level Plugin Scripts-->
    <!--<script src="/public/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/public/plugins/morris/morris.js"></script>
    <script src="/public/scripts/dashboard-demo.js"></script>-->

</body>

</html>
