<ng-include src="'view/templates/header.html'"></ng-include>

<div class="w3-container w3-light-grey" style="padding:40px 6px" id="contact">
    <div class="center">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-danger-message">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p><strong>{{resp.message}}</strong></p>
          </div>
        </div>
      </div>
      <h3 class="w3-center">Register</h3>
      <p class="w3-center w3-large">New user register here!:</p>

      <form ng-submit="register()" name="registerForm">

        <div class="container">

          <!--<label><b>ProformData Image</b></label>
          <input type="file" ngf-select ng-model="formData.profile_pic" id="profile_pic" name="profile_pic" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">-->
          <!--<i ng-show="formData.upload_form.proformData_pic.$error.required">*required</i><br>
          <i ng-show="formData.upload_form.proformData_pic.$error.maxSize">formData too large 
            {{up.formData.size / 1000000|number:1}}MB: max 20M</i>-->
          <label><b>User Type</b></label>
          <select required name="user_type" ng-model="formData.user_type">
            <option value="" selected>-Select Type-</option>
            <option value="requester">Requester</option>
            <option value="developer">Developer</option>
          </select>
          <span ng-show="registerForm.user_type.$touched && registerForm.user_type.$invalid">The User type is required.</span>

          <label><b>Email</b></label>
          <input type="email" placeholder="Email" required name="email" ng-model="formData.email">
          <span ng-show="registerForm.email.$touched && registerForm.email.$invalid">The Email is required.</span>
          
          <label><b>Username</b></label>
          <input type="text" placeholder="Username" required name="username" ng-model="formData.username">
          <span ng-show="registerForm.username.$touched && registerForm.username.$invalid">The Username is required.</span>

          <label><b>Password</b></label>
          <input type="password" placeholder="Password" required name="password"  ng-model="formData.password">
          <span ng-show="registerForm.password.$touched && registerForm.password.$invalid">The Password is required.</span>

          <label><b>Confirm Password</b></label>
          <input type="password" placeholder="Confirm Password" required name="c_password"  ng-model="formData.c_password">
          <span ng-show="registerForm.c_password.$touched && registerForm.c_password.$invalid">The Confirm Password is required.</span>

          <button type="submit" onclick="document.getElementById('id01').style.display='block'">Login</button>
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
    </div>
    <ng-include src="'view/templates/footer.html'"></ng-include>

</div>