<ng-include src="'/view/templates/header.html'"></ng-include>
<div class="w3-container w3-light-grey" style="padding:40px 6px" id="contact" data-ng-init="getPageType()">
    <div class="center">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-danger-message">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p><strong>{{resp.message}}</strong></p>
          </div>
        </div>
      </div>
      <h3 class="w3-center">Personal Details</h3>
      <p class="w3-center w3-large">Please enter the personal details:</p>
      <form ng-submit="storePersonal()" name="personalDetailsForm">
        <div class="container">
          <!--<label><b>ProformData Image</b></label>
          <input type="formData" ngf-select ng-model="formData.proformData_pic" id="proformData_pic" name="proformData_pic" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">-->
          <!--<i ng-show="formData.upload_form.proformData_pic.$error.required">*required</i><br>
          <i ng-show="formData.upload_form.proformData_pic.$error.maxSize">formData too large 
            {{up.formData.size / 1000000|number:1}}MB: max 20M</i>-->
          <div>
            <label><b>First Name</b></label>
            <div  ng-if="page_type === 'add'">
              <input type="text" placeholder="First Name" required name="first_name" ng-model="formData.first_name">
            </div>
            <div ng-if="page_type === 'edit'">
              <input type="text" placeholder="First Name" required name="first_name" ng-model="formData.first_name">
            </div>
            <span ng-show="personalDetailsForm.first_name.$touched && personalDetailsForm.first_name.$invalid">The First Name is required.</span>
          </div>

          <div>
            <label><b>Last Name</b></label>
            <div  ng-if="page_type === 'add'">
              <input type="text" placeholder="Last Name" required name="last_name" ng-model="formData.last_name">
            </div>
            <div  ng-if="page_type === 'edit'">
              <input type="text" placeholder="Last Name" required name="last_name" ng-model="formData.last_name">
            </div>
              <span ng-show="personalDetailsForm.last_name.$touched && personalDetailsForm.last_name.$invalid">The Last Name is required.</span>
          </div>

          <div>
            <div ng-if="page_type === 'add'">
              <label><b>Middle Name</b></label>
              <input type="text" placeholder="Middle Name" name="middle_name" ng-model="formData.middle_name">
            </div>
            <div ng-if="page_type === 'edit'">
              <label><b>Middle Name</b></label>
              <input type="text" placeholder="Middle Name" name="middle_name" ng-model="formData.middle_name">
            </div>
          </div>

          <div>
            <label><b>Date Of Birth</b></label>
            <div ng-if="page_type === 'add'">
              <input type="date" placeholder="Date Of Birth" required name="d_o_b" ng-model="formData.d_o_b">
            </div>
            <div ng-if="page_type === 'edit'">
              <input type="date" placeholder="Date Of Birth" required name="d_o_b" ng-model="formData.d_o_b">
            </div>
            <span ng-show="personalDetailsForm.d_o_b.$touched && personalDetailsForm.d_o_b.$invalid">Date of birthrequired.</span>
          </div>
          <button type="submit" onclick="document.getElementById('id01').style.display='block'">Next</button>
          <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
    </div>
</div>
<ng-include src="'/view/templates/footer.html'"></ng-include>
